fastapi>=0.109.0
uvicorn>=0.27.0
javalang>=0.13.0
pydantic>=2.5.3
psutil>=5.9.8
python-multipart>=0.0.6
httpx>=0.26.0
pyyaml>=6.0.1
docker>=7.0.0
pytest>=8.0.0
watchfiles>=0.21.0
playwright>=1.41.0
pytest-playwright>=0.4.4
gunicorn
uvicorn

